<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="layout :: site-head">
    <title>MVC Blog - Create Post</title>
</head>

<body>
<header th:replace="layout :: site-header" />

<main id="posts">
    <h2>Create Post:</h2>
    <form method="post" th:object="${postForm}">
    <table>
        <tr>
            <th>Field name</th>
            <th>Content</th>

        </tr>


        <tr>
            <td>Title</td>
            <td><input type="text" id="title" name="title" th:value="*{title}"/></td>
        </tr>
        <tr>
            <td>Content</td>
            <td><textarea cols="50" rows="15"  id="body" name="body" th:value="*{body}"></textarea></td>
        </tr>
        <tr>
            <td>Tags</td>
            <td><select name="tags" multiple="multiple" >
                <option th:each="t : ${tags}" th:value="${{t.id}}"  th:text="${{t.name}}">Volvo</option>
                </select>
                Hold down the Ctrl button to select multiple options.
            </td>
        </tr>


        <tr>
            <td>Author</td>
            <td><input type="text"  name="authorName"  disabled="disabled" th:value="${#httpServletRequest.remoteUser}"  /></td>
            <input type="hidden"  name="authorName" id="authorName" th:value="${#httpServletRequest.remoteUser}"  />
        </tr>
        <tr>
            <td>Date</td>
            <td th:text="*{date}"></td>
        </tr>

        <tr>
            <td>Confirm:</td>
         <td>
             <input type="submit" value="Create" />
             <input type="hidden"
                    th:name="${_csrf.parameterName}"
                    th:value="${_csrf.token}" />

         </td>
        </tr>

    </table>
    </form>

</main>

<footer th:replace="layout :: site-footer" />
</body>


</html>