<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="layout :: site-head">
    <title>MVC Blog - All Post</title>
</head>

<body>
<header th:replace="layout :: site-header" />

<main id="posts">
    <h2>All Posts:</h2>
    <table>
        <tr>
            <th>Field name</th>
            <th>Content</th>

        </tr>

        <tr>
            <td>ID</td>
            <td th:text="${post.id}"></td>
        </tr>

        <tr>
            <td>Title</td>
            <td th:text="${post.title}"></td>
        </tr>
        <tr>
            <td>Content</td>
            <td th:text="${post.body}"></td>
        </tr>
        <tr>
            <td>Author</td>
            <td th:text="${post.author.fullName != null ? post.author.fullName : post.author.username}"></td>
        </tr>
        <tr>
            <td>Date</td>
            <td th:text="${#dates.format(post.date, 'dd-MM-yyyy')}"></td>
        </tr>

        <tr>
            <td>Confirm:</td>
         <td>
             <input type="submit" value="Delete" />

         </td>
        </tr>

    </table>

</main>

<footer th:replace="layout :: site-footer" />
</body>


</html>